<span class="title">{{ title.text }}</span>

<app-mail-error
  [mail]="value.mail"
  [actionInput]="onInputMail"
  [errorMessage]="errorMessageMail"
></app-mail-error>

<app-password-error
  [password]="value.password"
  [actionInput]="onInputPassword"
  [errorMessage]="errorMessagePassword"
></app-password-error>

<app-password-error
  [password]="value.passwordConfirm"
  [actionInput]="onInputPasswordConfirm"
  [errorMessage]="errorMessagePasswordConfirm"
></app-password-error>

<app-button
  [message]="buttonMessage"
  [disable]="isError"
  [actionClick]="onClickButton"
></app-button>
