<div class="title">{{ title }}</div>

<div class="wrap" [class.wrap-focused]="isFocused">
  <ng-container *ngIf="isVisable; else invisable">
    <input
      type="text"
      [(ngModel)]="password"
      (input)="onInput()"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />
    <a class="visable-toggle" (click)="onClickVisableToggle()">
      <mat-icon>visibility_off</mat-icon>
    </a>
  </ng-container>
</div>

<ng-template #invisable>
  <input
    type="password"
    [(ngModel)]="password"
    (input)="onInput()"
    (focus)="onFocus()"
    (blur)="onBlur()"
  />
  <a class="visable-toggle" (click)="onClickVisableToggle()">
    <mat-icon>visibility</mat-icon>
  </a>
</ng-template>
