button {
  /** self skeleton */
  width: 100px;
  height: 40px;

  /** self design */
  border: 2px rgb(48, 41, 242) solid;
  border-radius: 4px;
  background-color: transparent;
  color: rgb(48, 41, 242);

  transition: 0.25s;
}

button:hover {
  /** self design */
  opacity: 0.25;
  cursor: pointer;
}

.disable {
  /** self design */
  border: 2px rgb(128, 128, 128) solid;
  background-color: transparent;
  color: rgb(128, 128, 128);
}

.disable:hover {
  /** self design */
  opacity: 1;
  cursor: auto;
}
